{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Contact{% endblock  %}

{% block content %}

<!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
          <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
              <a class="breadcrumb-item text-dark" href="{% url 'core:home' %}">Home</a>
              <span class="breadcrumb-item active">Contact</span>
            </nav>
          </div>
        </div>
      </div>
      <!-- Breadcrumb End -->

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
          <span class="bg-secondary pr-3">Contact Us</span>
        </h2>
        <div class="row px-xl-5">
          <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
              <div id="success"></div>
              <form name="sentMessage" id="contactForm" method="POST">
                {% csrf_token %}
                <div class="control-group">
                  {{form.fullName}}
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                  {{form.email}}
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                  {{form.subject}}
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                  {{form.message}}
                  <p class="help-block text-danger"></p>
                </div>
                <div>
                  <button
                    class="btn btn-primary py-2 px-4"
                    type="submit"
                    id="sendMessageButton"
                  >
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-30">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253599.88673309906!2d2.9742324250000007!3d6.708883700000023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b995b41b7dd6d%3A0xb6c08985374e0e09!2sAptech%20Computer%20Education%20-Sango%20Ota!5e0!3m2!1sen!2sng!4v1660422423173!5m2!1sen!2sng" width="100%" height="250px" style="border:0;" allowfullscreen=""aria-hidden="false"
                tabindex="0"></iframe>
              
            </div>
            <div class="bg-light p-30 mb-3">
              <p class="mb-2">
                <i class="fa fa-map-marker-alt text-primary mr-3"></i>No 1, Joju bustop, ogbohu plaza, beside Gt bank
              </p>
              <p class="mb-2">
                <i class="fa fa-envelope text-primary mr-3"></i><a href="mailto:teamdigitron@gmail.com" target="_blank" >teamdigitron@gmail.com</a>
              </p>
              <p class="mb-2">
                <i class="fa fa-phone-alt text-primary mr-3"></i><a href="https://api.whatsapp.com/send?phone=+2349137104825&text=Hello, My Name is " target="_blank" >+2349137104825</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact End -->

{% endblock content %}