{% extends 'base.html' %}

{% block content %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
      <div class="col-12">
        <nav class="breadcrumb bg-light mb-30">
          <a class="breadcrumb-item text-dark" href="{% url 'core:home' %}">Home</a>
          <a class="breadcrumb-item text-dark" href="{% url 'core:products' %}">Fashion</a>
          <span class="breadcrumb-item active">{{ object.title }}</span>
        </nav>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Shop Detail Start -->
  <div class="container-fluid pb-5">
    <div class="row px-xl-5">
      <div class="col-lg-5 mb-30">
        <div
          id="product-carousel"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner bg-light">
            <div class="carousel-item active">
              <img class="w-100 h-100" src="{{ object.image.url }}" alt="Image" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7 h-auto mb-30">
        <div class="h-100 bg-light p-30">
          <h3>{{ object.title|truncatechars:9 }}</h3>
          <strong><div class="d-flex mb-3">
            {{ object.get_category_display }}
          </div></strong>
          {% if object.discount_price %}
          <h5 class="font-weight-semi-bold mb-4">${{ object.discount_price }} <span class="text-muted ml-2"><del>${{ object.price }}</del></span></h3>
                {% else %}
                <h5>${{ object.price }}</h3>
                {% endif %}
          <p class="mb-4">
            {{ object.description }}
          </p>
          <div class="d-flex align-items-center mb-4 pt-2">
            <button class="btn btn-primary px-3">
              <a href="{{ object.get_add_to_cart_url }}" style="color: black; text-decoration: none;"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</a>
            </button>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row px-xl-5">
      <div class="col">
        <div class="bg-light p-30">
          <div class="nav nav-tabs mb-4">
            <a
              class="nav-item nav-link text-dark active"
              data-toggle="tab"
              href="#tab-pane-1"
              >Description</a
            >
          </div>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-pane-1">
              <h4 class="mb-3">Product Description</h4>
              <p>
                {{ object.description }}
              </p>
              <p>
                Dolore magna est eirmod sanctus dolor, amet diam et eirmod et
                ipsum. Amet dolore tempor consetetur sed lorem dolor sit lorem
                tempor. Gubergren amet amet labore sadipscing clita clita diam
                clita. Sea amet et sed ipsum lorem elitr et, amet et labore
                voluptua sit rebum. Ea erat sed et diam takimata sed justo.
                Magna takimata justo et amet magna et.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Shop Detail End -->



  {% endblock content %}