{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %} 
{% block head_title %}Login{% endblock  %}
{% block content %}

 <!-- Breadcrumb Start -->
 <div class="container-fluid">
    <div class="row px-xl-5">
      <div class="col-12">
        <nav class="breadcrumb bg-light mb-30">
          <a class="breadcrumb-item text-dark" href="{% url 'core:home' %}">Home</a>
          <span class="breadcrumb-item active">Profile</span>
        </nav>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->
  <div class="container-fluid">
    <div class="row" gutters>
        <div class="row p-5 mx-auto">
            <div class="col-12 mx-auto">
                <form action="" method="POST" class="p-5 bg-light shadow">
                    {% csrf_token %}
                    {{ profile_form | crispy }}
                    <div class="btn-box mt-4 mx-auto" style="width: fit-content imo !important;">
                        <button type="submit" class="btn btn-warning rounded-3 px-4">Edit Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>




{% endblock %}